<!DOCTYPE html>
<html>
<head>
  <title>Sofahopping</title>

  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAJdpypqq_eto6fGckPc0SgK1UQ6DU7EEA" %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <script type="text/javascript">
    window.cloudinary_options = {
      cloud_name: '<%= ENV['CLOUD_NAME'] %>',
      upload_preset: '<%= ENV['UPLOAD_PRESET'] %>',
      theme: "minimal"
    };
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
